{% extends "base.html" %}
{% block style %}
<style>
  img {
    width: 25%;
    min-width: 200px;
    margin-bottom: 2rem;
  }
  .accent {
    color: goldenrod;
  }
</style>
{% endblock %}
{% block body %}
<div class="about">
  <h1>About Us</h1>
  <p>
    We are a group of past and present Harvey Mudd students who devised this project as 
    a part of the
    <a class="accent" href="https://sites.google.com/view/hack4blacklives/home?authuser=0">
      Hack 4 Black Lives
    </a>
    hackathon put on by students at the Claremont colleges.
    It was an event to 

    <blockquote>
      "challenge to practice active anti-racism by focusing your
      skills and passions on developing a solution that supports
      Black Communities and battles the oppression that they face."
    </blockquote>

    In the spirit of this challenge, this team compiled information
    to combat common misconceptions and distrust towards the COVID-19 vaccine
    in the Black community. This is important to the team because it is
    disproportionately affecting communities of color, and a higher vaccination rate
    will help mitigate the damage. 
  </p>

  <p>
    Thank you for supporting our project, and feel free to share within your circle.
  </p>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/220px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="marky">
      </div>
      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/220px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="marky">
      </div>
      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/220px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="marky">
      </div>
      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/220px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="marky">
      </div>
      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/220px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="marky">
      </div>
    </div>
  </div>
</div>
{% endblock %}