{% extends "base.html" %}
{% block style %}
<style>
  .big {
    width: 100%;
    min-width: 100px;
  }
  .about {
    width: 100%;
  }
  @keyframes stutter {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    25% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  figure {
    border: 2px solid #c81f1b;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    animation: stutter 2s;
    box-shadow: 0.7rem 0.3rem 0.3rem #222;
  }
</style>
{% endblock %}
{% block body %}
<div class="about">
  <h1>Meet the Squad</h1>
  <p>
    We are a group of past and present Harvey Mudd students who devised this project as
    a part of the
    <a class="accent" href="https://sites.google.com/view/hack4blacklives/home?authuser=0">
      Hack 4 Black Lives</a>

    hackathon put on by students at the Claremont colleges.
    It was an event to:

    <blockquote>
      "challenge to practice active anti-racism by focusing your
      skills and passions on developing a solution that supports
      Black Communities and battles the oppression that they face."
    </blockquote>

    In the spirit of this challenge, this team compiled information
    to combat common misconceptions and distrust towards the COVID-19 vaccine
    in the Black community. This is important to the team because it is
    disproportionately affecting communities of color, and a higher vaccination rate
    will help mitigate the damage.
  </p>

  <p>
    Thank you for supporting our project, and we encourage you to share this!
  </p>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <figure>
          <img class="big" src="{{url_for('static', filename='camille.jpg')}}" alt="A headshot of the beautiful Camille." class="rounded mx-auto d-block" alt="marky">
          <figcaption>Camille</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <img class="big" src="{{url_for('static', filename='ciante.jpg')}}" alt="A headshot of Ciante,." class="rounded mx-auto d-block" alt="marky">
          <figcaption>Ciante</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <img class="big" src="{{url_for('static', filename='elijah.jpg')}}" alt="A headshot of the beautiful Elijah." class="rounded mx-auto d-block" alt="marky">
          <figcaption>Elijah</figcaption>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <figure>
          <img class="big" src="{{url_for('static', filename='hannah.jpg')}}" alt="A headshot of the beautiful Hannah." class="rounded mx-auto d-block" alt="marky">
          <figcaption>Hannah</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <img class="big" src="{{url_for('static', filename='lori.jpg')}}" alt="A headshot of the beautiful Lorelei." class="rounded mx-auto d-block" alt="marky">
          <figcaption>Lorelei</figcaption>
        </figure>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
{% endblock %}
