{% extends "base.html" %} {% block style %}
<style>
  .chooser {
    margin-top: 3rem;
    margin-bottom: 40vh;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    max-height: 40vh;
  }
  figure {
    width: 100%;
  }
  figcaption {
    text-align: center;
  }
  .links {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .info-holder {
    text-align: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  h3 {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    text-align: center;
  }
  #addy {
    margin-bottom: 100vh;
  }
  #adventure {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
  }
  h1 {
    margin-top: 100px;
    margin-bottom: 40px;
  }
</style>
{% endblock %} {% block body %}
<div id="app">
  <div id="addy">
    <h1>
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Learn the Facts, no Vaxx"
      />
    </h1>
    <p>
      Inform yourself. Protect others. Beat the virus.<br />
      For Black people, by 4 Black people*.
    </p>
    <p>
      <a class="accent" href="#adventure">Start learning about the Vaxx</a>
    </p>
  </div>

  <div id="chooser" class="chooser">
    <a name="adventure" id="adventure"></a>
    <h2>[[info().title]]</h2>
    <p>[[allInfo[currentInfo].text]]</p>
    <figure v-if="info().pic">
      <img v-bind:src="info().pic.url" v-bind:alt="info().pic.desc" />
      <figcaption class="figure-caption">[[info().pic.desc]]</figcaption>
    </figure>

    <div class="links" v-if="info().links">
      <h3>Various Links</h3>
      <ul>
        <li v-for="link in info().links">
          <a v-bind:href="link.url">[[link.text]]</a>
        </li>
      </ul>
    </div>
    <div class="info-holder">
      <a
        v-for="rebutNum in allInfo[currentInfo].choices"
        v-on:click="getNext(allChoices[rebutNum].next)"
      >
        <div class="info">
          <h3>[[allChoices[rebutNum].text]]</h3>
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      title: 'Learn The Vaxx',
      currentInfo: 0,
      allInfo: {{ responses | tojson }},
      allChoices: {{ reactions | tojson }}
    },
    methods: {
      getNext: function(info) {
        if (info === -4) {

        }
        this.currentInfo = info;
        setTimeout(function(){
          // document.querySelector("#chooser").scrollIntoView({ behavior: "smooth" });
          window.location = "#adventure";
        }, 100);
      },
      info: function() {
        return this.allInfo[this.currentInfo];
      }
    },
    delimiters: ["[[","]]"]
  })
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>
{% endblock %}
