{% extends "base.html" %}
{% block style %}

<style>
  h2 {

  }
  .testimonial {
    border: 3px solid #c81f1b;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 9px 5px 5px rgba(32,32,32,.8);
    overflow: scroll;
  }
  .big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: auto;
    max-width: 90%;
  }

  .quoted {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  blockquote {
    width: 100%;
  }
</style>
{% endblock %}
{% block body %}
<h1>Testimonials</h1>
<p>
  We understand the hesitancy in the Black community, and so do other professionals. Here's what they also
  have to say about the vaccine.
</p>
<div class="container">
  <div class="row">
    {% for test in testimonials %}
      <div class="container">
        <div class="testimonial">
          <h2>{{ testimonials[test].name }}</h2>
          <div class="row">
            <div class="col-md-6 quoted">
              <blockquote>
                {{ testimonials[test].quote }}
              </blockquote>
            </div>
            <div class="col-md-6 quoted">
              <img class="big" src="{{testimonials[test].pic}}" alt="A pick of {{testimonials[test].name}}">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}